# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
client/.env
server/.env

# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/
client/dist/

# OS files
.DS_Store
Thumbs.db

# Vite cache
.vite

# VS Code settings
.vscode/

# Coverage
coverage/